* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

aside, footer, figure, header,
section, img, object, embed {
    display: block;
}

textarea {
    resize: vertical;
}

img, object, embed {
    max-width: 100%;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@font-face {
  font-family: Franchise;
  src: url('assets/franchise.eot');
  src: url('assets/franchise.eot?#iefix') format('embedded-opentype'),
    url('assets/franchise.woff') format('woff'),
    url('assets/franchise.ttf') format('truetype'),
    url('assets/franchise.svg#franchiseregular') format('svg');
  font-weight: bold;
  font-style: normal;
}

body {
  padding: 0 20px;
  color: #fff;
}

body, .page-bg {
  background: #e05424;
}

body, .font-body {
  font: 18px/1.5 palatino;
}

.font-body {
  text-transform: none;
}

h1, h2, h3 {
  text-transform: uppercase;
  font: 32px/1 Franchise;
  color: #fff;
}

h1, .font-alpha, .rs-font-alpha {
  font-size: 72px;
}

h2, .font-beta, .rs-font-beta {
  font-size: 48px;
}

h3, .font-gamma, .rs-font-gamma {
  font-size: 36px;
}

h4, .font-delta, .rs-font-delta {
  font-size: 24px;
}

.font-accent {
  font-style: italic;
}

.spacing-alpha {
  margin-bottom: 0.75em;
}

.t-center {
  text-align: center;
}

.branding {
  position: relative;
  margin-top: 0.25em;
  margin-bottom: -0.1em;
  font-size: 128px;
}

.branding > span {
  position: relative;
  z-index: 1;
  padding: 0 20px;
}

.double-border-heading:after {
  content: '';
  position: absolute;
  top: 42.5%;
  bottom: 42.5%;
  right: 0;
  left: 0;
  border: solid #fff;
  border-width: 2px 0;
}

.item {
  margin: 0 10px 20px;
  padding: 20px;
  color: #e67650;
  background: #000;
  background: rgba(0,0,0,0.5);
}
.item h1 {
  float: left;
  margin-right: 15px;
}

.grid {
  overflow: hidden;
  margin: 0 -20px;
  padding: 0 10px;
}

.column {
  float: left;
}

.grid[data-columns]:before {
  -ms-content: '4';
  content: '4 column';
  display: none;
}

@media screen and (max-width: 480px){
  body {
    font-size: 14px;
  }
  .rs-font-alpha {
    font-size: 36px;
  }

  .rs-font-beta {
    font-size: 24px;
  }

  .rs-font-gamma {
    font-size: 18px;
  }

  .rs-font-delta {
    font-size: 14px;
  }

  .branding {
    font-size: 72px;
  }
  .grid[data-columns]:before {
    content: '1';
  }
}
@media screen and (max-width: 768px) and (min-width: 481px){
  body {
    font-size: 16px;
  }
  .rs-font-alpha {
    font-size: 48px;
  }

  .rs-font-beta {
    font-size: 36px;
  }

  .rs-font-gamma {
    font-size: 24px;
  }

  .rs-font-delta {
    font-size: 18px;
  }

  .branding {
    font-size: 96px;
  }
  .grid[data-columns]:before {
    content: '2';
  }
  .grid[data-columns] .column {
    width: 50%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .grid[data-columns]:before {
    content: '3';
  }
  .grid[data-columns] .column {
    width: 33.333%;
  }
}

@media screen and (min-width: 1025px) {
  .grid[data-columns]:before {
    content: '4 column';
  }
  .grid[data-columns] .column {
    width: 25%;
  }
}