@media screen and (max-width: 600px){
        section[data-columns] {
          content: '._col 2';
        }
      }

      @media screen and (min-width: 601px){
        section[data-columns] {
          content: '._col 3';
        }
      }

      .medium-block {
        overflow: hidden;
      }
      [data-columns="3"] ._col {
        width: 33.333%;
        float: left;
      }
      [data-columns="2"] ._col {
        width: 50%;
        float: left;
      }

      ._item {
        margin: 0 10px 20px;
        padding: 20px 15px 15px;
        color: #845a83;
        background: #cbacce;
        font-size: 16px;
        font-style: italic;
        text-align: center;
      }
      ._item > p { margin: 0; }
      ._item:last-child {
        margin-bottom: 0;
      }
      ._item > header {
        color: #3d0938;
        font-size: 21px;
        font-style: normal;
        line-height: 1;
      }
      ._item > hr {
        border-color: #845a83;
      }