* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

aside, footer, figure, header,
section, img, object, embed {
    display: block;
}

img, object, embed {
    max-width: 100%;
}

/* Only if forms used
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}*/

@font-face {
  font-family: Franchise;
  src: url('../assets/franchise.eot');
  src: url('../assets/franchise.eot?#iefix') format('embedded-opentype'),
    url('../assets/franchise.woff') format('woff'),
    url('../assets/franchise.ttf') format('truetype'),
    url('../assets/franchise.svg#franchiseregular') format('svg');
  font-weight: bold;
  font-style: normal;
}

body {
  padding: 0 40px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
  background: url('../assets/body.gif') center;
}

body, .div-lines > span,
.button.primary {
  background-color: #e9632f;
}

body, .font-body {
  font: 18px/1.5 palatino;
}

::selection {
  background: #743117;
}
::-moz-selection {
  background: #743117;
}

.font-body {
  text-transform: none;
}

h1, h2, h3, h4 {
  margin-bottom: 0.15em;
}

h1, h2, h3, button, .button {
  text-transform: uppercase;
  font: 32px/1 Franchise;
  color: #fff;
}

h1, .font-alpha, .rs-font-alpha {
  font-size: 72px;
}

h2, .font-beta, .rs-font-beta {
  font-size: 48px;
}

h3, .font-gamma, .rs-font-gamma {
  font-size: 36px;
}

h4, .font-delta, .rs-font-delta {
  font-size: 28px;
}

a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #f2ad94;
  border-color: rgba(255, 255, 255, 0.5);
}
a.button {
  border: none;
}

p, pre {
  margin-bottom: 1em;
}

p:last-child,
pre:last-child {
  margin-bottom: 0;
}

code, pre {
  font-family: 'andale mono', monospace;
  color: #e25126;
  background: #f8d0c0;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  text-shadow: none;
  box-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

pre {
  overflow: scroll;
  padding: 1em;
}

pre .highlight {
  background: #fff;
  border-bottom: 1px solid #e25126;
  border-bottom-color: rgba(229,87,41, 0.3);
  border-radius: 2px;
}

section {
  margin-bottom: 2em;
}

.button {
  position: relative;
  top: 0;

  display: inline-block;
  cursor: pointer;
  padding: 0.25em 0.5em;
  background: #3a180b;
  background: rgba(0,0,0,0.75);
  border-radius: 2px;

  -webkit-transition: top 0.1s;
  -moz-transition: top 0.1s;
  transition: top 0.1s;
}

.button:active {
  top: 0.1em;
}

.font-accent {
  font-style: italic;
}

.t-center {
  text-align: center;
}

.page-header {
  margin-bottom: 0.75em;
}

.branding {
  position: relative;
  margin-top: 0.25em;
  margin-bottom: -0.1em;
  font-size: 128px;
}
.sub-branding {
  position: relative;
  z-index: 3;
}

.div-lines {
  position: relative;
  text-align: center;
}
.div-lines > span {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 20px;
  border-radius: 50em;
}
.div-lines:after {
  content: '';
  position: absolute;
  top: 42.5%;
  bottom: 42.5%;
  right: 0;
  left: 0;
  border: solid #fff;
  border-width: 2px 0;
}
.div-lines.dark:after {
  border-color: rgba(0,0,0, 0.1);
}

.clear:before,
.clear:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.clear:before,
.clear:after {
  clear: both;
}

.item {
  margin: 0 10px 20px;
  padding: 20px;
  color: #e67650;
  background: #743117;
  background: rgba(0,0,0,0.5);
  border-radius: 2px;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}
.item h1 {
  float: left;
  margin-right: 15px;
}



@-webkit-keyframes showsup {
  from { opacity: 0; -webkit-transform: translate(0, -20px); }
  to   { opacity: 1; -webkit-transform: translate(0, 0); }
}
@-moz-keyframes showsup {
  from { opacity: 0; -moz-transform: translate(0, -20px); }
  to   { opacity: 1; -moz-transform: translate(0, 0); }
}
@-o-keyframes showsup {
  from { opacity: 0; -o-transform: translate(0, -20px); }
  to   { opacity: 1; -o-transform: translate(0, 0); }
}
@keyframes showsup {
  from { opacity: 0; transform: translate(0, -20px); }
  to   { opacity: 1; transform: translate(0, 0); }
}

.test-grid-b .item.added {
  -webkit-animation: showsup 0.5s;
  -moz-animation: showsup 0.5s;
  -o-animation: showsup 0.5s;
  animation: showsup 0.5s;
}



.layout-redux {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.column {
  float: left;
}

.one-half {
  width: 50%;
}
.one-third {
  width: 33.333%;
}
.one-quarter {
  width: 25%;
}
.hide {
  display: none;
}

@media screen and (max-width: 480px){
  body {
    padding: 0 20px;
    font-size: 14px;
  }
  .rs-font-alpha, h1 {
    font-size: 36px;
  }

  .rs-font-beta {
    font-size: 24px;
  }

  .rs-font-gamma {
    font-size: 18px;
  }

  .rs-font-delta {
    font-size: 18px;
  }

  .branding {
    font-size: 72px;
  }
  .layout-redux {
    width: inherit;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .rs-font-alpha, h1 {
    font-size: 48px;
  }

  .rs-font-beta {
    font-size: 36px;
  }

  .rs-font-gamma {
    font-size: 24px;
  }

  .rs-font-delta {
    font-size: 24px;
  }

  .branding {
    font-size: 96px;
  }

  .layout-redux {
    width: inherit;
  }
}

.h-contrast {
  border-radius: 2px;
  padding: 2em 0;
  color: #666;
  text-shadow: none;
}
.h-contrast,
.h-contrast .div-lines > span {
  background: #fff;
  background: url('../assets/body-hq.gif') center;
}
.h-contrast .div-lines:after {
  border-color: rgba(233,99,47, 0.2);
}
.h-contrast h1 {
  color: #3A180B;
}

.h-contrast a {
    color: #E75F33;
}

.site-footer {
  padding: 2em 0;
}
.site-footer, .site-footer a {
  color: #000;
  color: rgba(0,0,0,0.5);
}
.site-footer a {
  border-color: rgba(0, 0, 0, 0.1);
}
.logo {
  float: left;
  margin-right: 20px;
}

/* Grids */
.test-grid,
.test-grid-b {
  margin: 0 -10px;
}

[data-columns]:before {
  display: none;
}

.test-grid[data-columns]:before {
  content: '4 .column.one-third';
}
.test-grid-b[data-columns]:before {
  content: '3 .column.one-half';
}

@media screen and (max-width: 480px){
  .test-grid[data-columns]:before,
  .test-grid-b[data-columns]:before {
    content: '1';
  }
}

@media screen and (min-width: 481px) and (max-width:819px) {
  .test-grid[data-columns]:before {
    content: '2 .column.one-half';
  }
}
@media screen and (min-width: 820px) and (max-width: 1299px) {
  .test-grid[data-columns]:before {
    content: '3 .column.one-third';
  }
}
@media screen and (min-width: 1300px){
  .test-grid[data-columns]:before {
    content: '4 .column.one-quarter';
  }
}

@media screen and (min-width: 481px) and (max-width: 1099px) {
  .test-grid-b[data-columns]:before {
    content: '2 .column.one-half';
  }
}
@media screen and (min-width: 1100px) {
  .test-grid-b[data-columns]:before {
    content: '3 .column.one-third';
  }
}

